<%# Main Navbar %>

<header id="mainNavbar">

  <a href="/posts">
    <div id="navLogoContainer">
      <%#= image_tag "logos/TTTT_dot_logo.svg" %>
      <%= image_tag "logos/TTTT_logo_1.svg" %>
    </div>
  </a>

  <nav>
      <ul>
        <li><%= link_to "blog", posts_path%></li>
        <br>
        <li><%= link_to "store", posts_path%></li>
        <br>
        <li><%= link_to "radio", posts_path%></li>

        <br>
        <br>
        <br>

        <li><strong>Team: </strong></li>
        <br>
        <li><%= link_to "Ezra", posts_path%></li>
        <br>
        <li><%= link_to "Jun", posts_path%></li>
        <br>
        <li><%= link_to "Malin", posts_path%></li>
        <br>
        <li><%= link_to "Rocco", posts_path%></li>


      </ul>

      <br>
      <br>

      <% if user_signed_in? %>
        <p>Welcome, <%= current_user.name %></p>
        <p><strong>Only for the gang:</strong></p>
        <p><%= link_to 'new blog post', new_post_path %></p>
      <% else %>
        <li><%= link_to 'log in', new_user_session_path %></li>
        <li><%= link_to 'sign up', new_user_registration_path %></li>
      <% end %>

  </nav>

</header>
