<article class = "postCard">

  <h2  class="h2LinkNoUnderline">
    <%= link_to post do%>
      <%= post.title %>
    <% end %>
  </h2>

  <p>
    <%= post.user.name %>
  </p>

  <p><%= truncate(post.body, length: 425) %></p>

  <div class="alignRight">
    <%= link_to 'See full post', post %>
    <p><%= post.created_at %></p>
  </div>

</article>
