<article class = "postCard">

  <h2  class="h2LinkNoUnderline">
    <%= link_to post do%>
      <%= post.title %>
    <% end %>
  </h2>

  <p>
    <%= link_to "#{post.user.name}", posts_user_path(post.user) %>
  </p>

  <p><%= truncate(post.body, length: 425) %></p>

  <div class="alignRight">
    <%= link_to 'See full post', post %>

    <p><em>(<%=post.created_at.strftime("%d.%m.%Y %H:%M")%>  <%=post.city%>, <%=post.country%>)</em></p>

  </div>

</article>
