<main class = "postShowMain">

  <h1><%= @post.title %></h1>
  <%= link_to "#{@post.user.name}", posts_user_path(@post.user) %>
  <p><%= @post.body %></p>

  <br>

  <div class="post-images">
    <% @post.images.each do |image| %>
      <%= image_tag image %>
    <% end %>
  </div>

  <br>

  <div class="alignRight">
    <p><%= @post.created_at.strftime("%d.%m.%Y %H:%M") %></p>

    <br>
    <br>
    <br>

    <%= link_to "View all posts by #{@post.user.name}", posts_user_path(@post.user) %>


    <br>
    <br>
    <br>

    <% if user_signed_in? %>
      <p><strong>Only for the gang:</strong></p>
      <p><%= current_user.name %>, here you can make changes to your post or delete it:</p>
      <%= link_to 'Edit', edit_post_path(@post) %> |
      <%= button_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %>



      <br>
      <p>Or, you can create a <%= link_to 'New Blog Post', new_post_path %></p>
    <% else %>
      <%= link_to 'log in', new_user_session_path %>
      <br>
      <%= link_to 'sign up', new_user_registration_path %>
    <% end %>


    <%= link_to 'Test DELETE', post_path(@post), method: :delete, data: { confirm: 'Testing DELETE?' }, class: 'test-delete-link' %>


  </div>

  <br>
  <br>
  <br>

</main>
