<p>
  <%= link_to '< Back', posts_path %>
</p>

<h1><%= @post.title %></h1>
<p><%= @post.body %></p>




<%= link_to "View all posts by #{@post.user.name}", posts_user_path(@post.user) %>


<p><%= @post.created_at.strftime("%B %d, %Y") %></p>
<p><%= @post.created_at %></p>


<br>
<br>
<br>

<% if user_signed_in? %>
  <p><strong>Only for the gang:</strong></p>
  <p><%= current_user.name %>, here you can make changes to your post or delete it:</p>
  <%= link_to 'Edit', edit_post_path(@post) %> |
  <%= link_to 'Delete This Post', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %>
<% else %>
  <li><%= link_to 'log in', new_user_session_path %></li>
  <li><%= link_to 'sign up', new_user_registration_path %></li>
<% end %>
