<!DOCTYPE html>
<html>
  <head>
    <title>TTTT</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>


    <%= javascript_importmap_tags %>
    <%= javascript_include_tag 'liveDateAndTime' %>

  </head>

  <body>
    <%# Flashes %>
    <%= render "shared/flashes" %>

    <%# Navbar %>
    <div class="applicationSplitContainer">

      <div class="left">
        <%= render "shared/navbar" %>
      </div>

      <div class="center">
        <!-- This is for the live date: -->
        <span id='ct'></span>
        <%= yield %>
      </div>

      <div class="right"></div>

    </div>



  </body>

</html>
